<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="EBayCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <EBayCalc.Properties.Settings>
            <setting name="Shipping_Paid" serializeAs="String">
                <value>2.00</value>
            </setting>
            <setting name="Insurance_Paid" serializeAs="String">
                <value>1.50</value>
            </setting>
            <setting name="Handling_Paid" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="Shipping_Received" serializeAs="String">
                <value>3.00</value>
            </setting>
            <setting name="Insurance_Received" serializeAs="String">
                <value>1.50</value>
            </setting>
            <setting name="Handling_Received" serializeAs="String">
                <value>0.00</value>
            </setting>
        </EBayCalc.Properties.Settings>
    </userSettings>
</configuration>
